/* https://stackoverflow.com/questions/17534661/make-anchor-link-go-some-pixels-above-where-its-linked-to

.anch is added so that when you click to a link in a page, it moves down 80px so that you can see the anchor point
 <h1 class="anch" id="blah">This will be positioned under the menu bar</h1>
 */
.anch {
    /* places the contents of the element 100px from the top of the view-port */
    padding-top: 80px;
    margin-top: -80px;
}

/* This hamburger menu bar was based on: https://codepen.io/mutedblues/pen/MmPNPG */

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 87.5%;
  z-index: 3;
  position-left: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  background-repeat: no-repeat; /* added by MattK to remove underlined links */
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.6em;
  padding: 10px 10px;
  text-decoration: none;
  background-repeat: no-repeat; /* added by MattK to remove underlined links */
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px; /* modded so that all menu selections are visible */
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

/* @media (min-width: 48em) { */
  @media (min-width: 970px) { /* changes when menu folds down to a hamburger icon */
  .header li {
    float: left;
    margin: 0;
  }
  .header li a {
    padding: 10px 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
